<div id="<%= simple_comment.dom_id %>" class="simple-comment">
  <div class="commentor-icon"><%= icon simple_comment.user %></div>
  <div class="comment-body"><%= h limit_comment(simple_comment.body, truncate, length, omission) %></div>
</div>